<div class="main-section">
	<h2>Subscription</h2>	
	<div class="main-content">
		<%= form_tag payments_path do %>
			<article>
				<% if flash[:error].present? %>
					<div id="error_explanation">
						<p><%= flash[:error] %></p>
					</div>
				<% end %>
				<div class="product">
					<label>Product Name</label>
					<%= text_field_tag :product_name %>
				</div>
				<div class="amount">
					<label>Amount</label>
					<%= text_field_tag :amount %>
				</div>
			</article>
			<div class="button">
				<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
								data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
								data-description="<%= params[:product_name] %>"
								data-locale="auto">
				</script>
			</div>
		<% end %>
	</div>
</div>
